{% extends "base.html" %}

{% block body_inner %}

<section>

  <h2>From:</h2><p>Co-op Letters</p>

  <h2>To:</h2><p>[email from 'Reader' sheet for UUID <code>{{ allocation.reader.uuid }}</code>]</p>

  <h2>Subject</h2>
  <p>We’re sorry to hear that you didn’t get a letter</p>

  <h2>Message:</h2>

<div class="message">Ctrl-A, Ctrl-C the message below</div>

<div class='email-template' contenteditable="true">
  <p>Dear {{ allocation.reader.first_name }},</p>

  <p>We’re sorry to hear that you didn’t get a letter from {{ allocation.writer.first_name }}.</p>

  [IF RUNNER-UP CHOICES ARE AVAILABLE]TODO
  <p>We’ll ask one of the other people you selected to write to you.</p>

  [IF NO RUNNER-UP AVAILABLE]TODO
  <p>Would you like someone else to <a href="{{ allocation.reader.make_authenticated_choose_writers_url }}">write to you</a>?</p>

  <p>If you have any questions, reply to this message or email <a href="mailto:letters@coopdigital.co.uk">letters@coopdigital.co.uk</a></p>
</div>

</section>

{% endblock %}
