{% extends "base.html" %}

{% block body_inner %}

<section>

  <h2>From:</h2><p>Co-op Letters</p>

  <h2>To:</h2><p>[email from Google Sheet for UUID <code>{{ allocation.writer.uuid }}</code>]</p>

  <h2>Subject</h2>
  <p>You’ve been picked - get ready to write a letter</p>

  <h2>Message:</h2>

<div class="message">Ctrl-A, Ctrl-C the message below</div>

<div class='email-template' contenteditable="true">
  <p>Dear {{ allocation.writer.first_name }},

  <p>Your profile has been picked by someone who would like to get a letter from you.</p>

  {% if allocation.reader.prefer_forward_via_co_op is True %}

  <p>Their name is {{ allocation.reader.first_name }} and you can write to them at:</p>
    <p>Co-op Letters {{ allocation.reference }}</p>
    <p>c/o Helen Murray</p>
    <p>[address]</p>
    <p>[address]</p>
    <p>[postcode]</p>

  {% elif allocation.reader.prefer_forward_via_co_op is False %}

    <p>We&rsquo;ll forward it on to {{ allocation.reader.first_name}}.</p>

  {% endif %}

  <p>{{ allocation.reader.first_name }} is expecting a letter from you by {% today [date + 14 days].</p>TODO

  <p>Been ages since you wrote a letter? Read our <a href="{% url 'writer-guide' %}">Advice for letter writers</a>.</p>

  <p>If you have any questions, reply to this message or email <a href="mailto:letters@coopdigital.co.uk">letters@coopdigital.co.uk</a></p>
</div>

</section>
</pre>

{% endblock %}
