{% extends "info-page.html" %}

{% block body_inner %}

<section>
  <h1>Writer tasks</h1>

  <h2>Add new writers from spreadsheet</h2>
  <p>
    In the {% include 'matchmaker/_writers_google_sheet.html' %}, are there any new entries, without a UUID?
  </p>

  <ul>
    <li><a href="{% url 'admin:matchmaker_writer_add' %} target="admin"">Create a Writer</a> with their first name and `private_story`</li>
    <li>Copy the UUID back into the spreadsheet</li>
  </ul>

  <h2>Check the physical mailbox</h2>

  <ul>
    <li>Call the mailbox company on 0161 236 7333 and ask if there is any mail to collect from mailbox 157</li>
    <li>If there is mail to pick up, get the key from the team locker and go to 19 Lever Street</li>
    <li>For any received letters, open the <a href="{% url 'admin:matchmaker_writerreaderallocation_changelist' %}" target="admin">WriterReaderAllocation</a> and set `letter_sent`</li>
    <li>Look up the address of the reader in the spreadsheet {% include 'matchmaker/_readers_google_sheet.html' %}, place the unopened letter in a new envelope, address it and post</li>
  </ul>

  <h2>Send 'get started' emails</h2>
  {% if writers_awaiting_get_started_email %}

    <p>
      These writers don't have a `get_started_email_sent` date.
    </p>

    <ul>
      {% for writer in writers_awaiting_get_started_email %}
      <li>
        {{ writer.first_name }}:
        <a href="{% url 'admin-task-list-writer-email' 'get-started' writer.uuid %}" target="email">[email template]</a>
        <a href="{% url 'admin:matchmaker_writer_change' writer.uuid %}" target="admin" target="admin">[edit]</a></li>
      {% endfor %}
    </ul>

    <p>Tasks:</p>
    <ul>
      <li>Send the get started email by copying and pasting the template</li>
      <li>Set the `get_started_email_sent` field to today's date.</li>
    </ul>
  {% else %}
    <p>Nothing to do here.</p>
  {% endif %}

  <h2>Send 'chase' emails</h2>

  {% if writers_awaiting_chase_email %}
    <p>
      We don't have an age for these Writers. We sent their get-started email over 2 days ago.
    </p>

    <ul>
      {% for writer in writers_awaiting_chase_email %}
      <li>
        {{ writer.first_name }}:
        <a href="{% url 'admin-task-list-writer-email' 'chase' writer.uuid %}" target="email">[email template]</a>
        <a href="{% url 'admin:matchmaker_writer_change' writer.uuid %}" target="admin">[edit Writer]</a></li>
      {% endfor %}
    </ul>

    <p>Tasks:</p>
    <ul>
      <li>Send the chase email by copying and pasting the template</li>
      <li>Set the `chase_email_sent` field in the Writer to today's date.</li>
    </ul>
  {% else %}
    <p>Nothing to do here.</p>
  {% endif %}

  <h2>Send 'final chase' emails</h2>
  {% if writers_awaiting_final_chase_email %}
    <p>
      We still don't have an age for these Writers. We sent their chase email over 3 days ago.
    </p>

    <ul>
      {% for writer in writers_awaiting_final_chase_email %}
      <li>
        {{ writer.first_name }}:
        <a href="{% url 'admin-task-list-writer-email' 'final-chase' writer.uuid %}" target="email">[email template]</a>
        <a href="{% url 'admin:matchmaker_writer_change' writer.uuid %}" target="admin">[edit Writer]</a></li>
      {% endfor %}
    </ul>

    <p>Tasks:</p>
    <ul>
      <li>Send the final chase email by copying and pasting the template</li>
      <li>Set the `final_chase_email_sent` field in the Writer to today's date.</li>
    </ul>
  {% else %}
    <p>Nothing to do here.</p>
  {% endif %}

  <h2>Approve and activate completed profiles</h2>

  {% if writers_awaiting_approval %}
    <p>
      These writers have completed a profile, but we haven't approved them and
      made them available to pick.
    </p>

    <ul>
      {% for writer in writers_awaiting_approval %}
      <li>
        {{ writer.first_name }}:
        <a href="{% url 'admin:matchmaker_writer_change' writer.uuid %}" target="admin">[edit Writer]</a></li>
      {% endfor %}
    </ul>

    <p>Tasks:</p>
    <ul>
      <li>TODO: criteria for approval?</li>
      <li>Set the `profile_approved` flag</li>
      <li>Set the `available_to_pick` flag</li>
    </ul>
  {% else %}
    <p>Nothing to do here.</p>
  {% endif %}

  <h2>Allocate writers to readers</h2>
  <p><a href="{% url 'admin-allocate-writers' %}">Allocate writers based on reader selections</a></p>

  <h2>Send 'writer priming' emails</h2>
  {% if allocations_awaiting_writer_priming_email %}

    <p>These writers have been allocated to a reader. Now we need to send them the reader's details.</p>
    <ul>
      {% for allocation in allocations_awaiting_writer_priming_email %}
      <li>
        {{ allocation.reference }}:
        <a href="{% url 'admin-task-list-allocation-email' 'writer-priming' allocation.reference %}" target="email">[email template]</a>
        <a href="{% url 'admin:matchmaker_writerreaderallocation_change' allocation.reference %}" target="admin">[edit WriterReaderAllocation]</a></li>
      {% endfor %}
    </ul>

    <p>Tasks</p>
    <ul>
      <li>Send the 'writer priming' email</li>
      <li>Update 'writer_priming_email_sent' date for the WriterReaderAllocation</li>
    </ul>

  {% else %}
    <p>Nothing to do here.</p>
  {% endif %}

  <h2>Send writer 'midway' emails</h2>

  {% if allocations_awaiting_writer_midway_email %}

    <p>We emailed these writers with who they'll be writing to seven days ago. The flag `letter_sent` is 'unknown' (perhaps because the letter is direct), so now we send a gentle reminder email.</p>

    <ul>
      {% for allocation in allocations_awaiting_writer_midway_email %}
      <li>
        {{ allocation.reference }}:
        <a href="{% url 'admin-task-list-allocation-email' 'writer-midway' allocation.reference %}" target="email">[email template]</a>
        <a href="{% url 'admin:matchmaker_writerreaderallocation_change' allocation.reference %}" target="admin">[edit WriterReaderAllocation]</a></li>
      {% endfor %}
    </ul>

  <p>Tasks:</p>
  <ul>
    <li>Send the 'writer midway' email</li>
    <li>Update 'writer_midway_email_sent' date for the WriterReaderAllocation</li>
  </ul>

  {% else %}
    <p>Nothing to do here.</p>
  {% endif %}

  <h2>Send writer 'follow up' emails</h2>
  {% if allocations_awaiting_writer_follow_up_email %}

    <p>These writers were emailed 10 days ago to expect a letter. Now we need to send them a follow up email.</p>

    <ul>
      {% for allocation in allocations_awaiting_writer_follow_up_email %}
      <li>
        {{ allocation.reference }}:
        <a href="{% url 'admin-task-list-allocation-email' 'writer-follow-up' allocation.reference %}" target="email">[email template]</a>
        <a href="{% url 'admin:matchmaker_writerreaderallocation_change' allocation.reference %}" target="admin">[edit WriterReaderAllocation]</a></li>
      {% endfor %}
    </ul>

  <p>Tasks:</p>
  <ul>
    <li>Send the 'writer follow up' email</li>
    <li>Update 'writer_follow_up_email_sent' date for the WriterReaderAllocation</li>
  </ul>

  {% else %}
    <p>Nothing to do here.</p>
  {% endif %}

  <h2>Delete unresponsive writers</h2>

  {% if writers_unresponsive %}
    <p>
      We still don't have an age for these Writers. We sent their final chase email over 7 days ago.
    </p>

    <ul>
      {% for writer in writers_unresponsive %}
      <li>
        {{ writer }}:
        <a href="{% url 'admin:matchmaker_writer_change' writer.uuid %}" target="admin">[edit]</a>
        <a href="{% url 'admin:matchmaker_writer_delete' writer.uuid %}" target="admin">[delete]</a></li>
      {% endfor %}
    </ul>

    <p>Tasks:</p>
    <ul>
      <li>Delete the Writer model the database</li>
      <li>Erase their personal information columns from the {% include 'matchmaker/_writers_google_sheet.html' %}</li>
    </ul>
  {% else %}
    <p>Nothing to do here.</p>
  {% endif %}

</section>
<section>

  <h1>Reader tasks</h1>

  <h2>Add new readers from spreadsheet</h2>
    <p>
      In the {% include 'matchmaker/_readers_google_sheet.html' %}, are there any new entries, without a UUID?
    </p>

    <ul>
      <li><a href="{% url 'admin:matchmaker_reader_add' %}" target="admin">Create a Reader</a></li>
      <li>Copy the UUID back into the spreadsheet</li>
    </ul>

  <h2>Send 'get started' emails</h2>
  {% if readers_awaiting_get_started_email %}

    <p>
      These readers don't have a `get_started_email_sent` date.
    </p>

    <ul>
      {% for reader in readers_awaiting_get_started_email %}
      <li>
        {{ reader.first_name }}:
        <a href="{% url 'admin-task-list-reader-email' 'get-started' reader.uuid %}" target="email">[email template]</a>
        <a href="{% url 'admin:matchmaker_reader_change' reader.uuid %}" target="admin">[edit Reader]</a></li>
      {% endfor %}
    </ul>

    <p>Tasks:</p>
    <ul>
      <li>Send the get started email by copying and pasting the template</li>
      <li>Set the `get_started_email_sent` field to today's date.</li>
    </ul>
  {% else %}
    <p>Nothing to do here.</p>
  {% endif %}

  <h2>Send 'chase' emails</h2>

  {% if readers_awaiting_chase_email %}

    <p>
      We don't have a postal address and/or preference for these Readers. We
      sent their get-started email over 2 days ago.
    </p>

    <ul>
      {% for reader in readers_awaiting_chase_email %}
      <li>
        {{ reader.first_name }}:
        <a href="{% url 'admin-task-list-reader-email' 'chase' reader.uuid %}" target="email">[email template]</a>
        <a href="{% url 'admin:matchmaker_reader_change' reader.uuid %}" target="admin">[edit Reader]</a></li>
      {% endfor %}
    </ul>

    <p>Tasks:</p>
    <ul>
      <li>Send the chase email by copying and pasting the template</li>
      <li>Set the `chase_email_sent` field to today's date.</li>
    </ul>
  {% else %}
    <p>Nothing to do here.</p>
  {% endif %}

  <h2>Record postal addresses from emails</h2>
  {% if readers_without_postal_options %}
    <p>
      We're missing postal addresses or forwarding preference for the following readers:
    </p>

    <ul>
      {% for reader in readers_without_postal_options %}
      <li>
        <a href="{% url 'admin:matchmaker_reader_change' reader.uuid %}" target="admin">{{ reader }}</a></li>
      {% endfor %}
    </ul>

    <p>Tasks:</p>
    <ul>
      <li>Check the letters@coopdigital.co.uk mailbox</li>
    <li>Record the postal address in the {% include 'matchmaker/_readers_google_sheet.html' %}</li>
      <li>Set `got_postal_address` and record their forwarding preference.</li>
    </ul>

  {% else %}
    <p>Nothing to do here.</p>
  {% endif %}


  <h2>Reply with 'baseline survey' emails</h2>


  {% if readers_awaiting_baseline_survey_email %}

    <p>These readers have given us their postal preferences, now we need to reply with their first survey.</p>

    <ul>
      {% for reader in readers_awaiting_baseline_survey_email %}
      <li>
        {{ reader.first_name }}:
        <a href="{% url 'admin-task-list-reader-email' 'baseline-survey' reader.uuid %}" target="email">[email template]</a>
        <a href="{% url 'admin:matchmaker_reader_change' reader.uuid %}" target="admin">[edit Reader]</a></li>
      {% endfor %}
    </ul>

    <p>Tasks:</p>
    <ul>
      <li>Send the baseline wellbeing email by copying and pasting the template</li>
      <li>Set the `baseline_survey_sent` field to today's date.</li>
    </ul>
  {% else %}
    <p>Nothing to do here.</p>
  {% endif %}

  <h2>Update 'got_baseline_survey_results</h2>
  <ul>
    <li>Go to the Google Form</li>
    <li>Tick the 'got_baseline_survey_results' checkbox for any UUIDs in Django</li>
  </ul>

  <h2>Send 'invite to pick' emails</h2>
  {% if readers_awaiting_invite_to_pick_email %}

    <p>These readers have given us their postal preferences, been invited to complete a baseline survey. Now we need to invite them to pick the writers they're happy to hear from.</p>

    <ul>
      {% for reader in readers_awaiting_invite_to_pick_email %}
      <li>
        {{ reader.first_name }}:
        <a href="{% url 'admin-task-list-reader-email' 'invite-to-pick' reader.uuid %}" target="email">[email template]</a>
        <a href="{% url 'admin:matchmaker_reader_change' reader.uuid %}" target="admin">[edit Reader]</a></li>
      {% endfor %}
    </ul>

    <p>Tasks:</p>
    <ul>
      <li>Send the invite to pick email by copying and pasting the template</li>
      <li>Set the `invite_to_pick_email_sent` field to today's date.</li>
    </ul>
  {% else %}
    <p>Nothing to do here.</p>
  {% endif %}

  <h2>Send 'reader priming' emails</h2>
  {% if allocations_awaiting_reader_priming_email %}

    <p>These readers have been allocated a writer. Now we need to notify them to expect a letter.</p>

    <ul>
      {% for allocation in allocations_awaiting_reader_priming_email %}
      <li>
        {{ allocation.reference }}:
        <a href="{% url 'admin-task-list-allocation-email' 'reader-priming' allocation.reference %}" target="email">[email template]</a>
        <a href="{% url 'admin:matchmaker_writerreaderallocation_change' allocation.reference %}" target="admin">[edit WriterReaderAllocation]</a></li>
      {% endfor %}
    </ul>

  <p>Tasks:</p>
  <ul>
    <li>Send the 'reader priming' email</li>
    <li>Update 'reader_priming_email_sent' date for the WriterReaderAllocation</li>
  </ul>

  {% else %}
    <p>Nothing to do here.</p>
  {% endif %}

  <h2>Send reader 'follow up' emails</h2>
  {% if allocations_awaiting_reader_follow_up_email %}

    <p>These readers were emailed 10 days ago to expect a letter. Now we need to send them a follow up email.</p>

    <ul>
      {% for allocation in allocations_awaiting_reader_follow_up_email %}
      <li>
        {{ allocation.reference }}:
        <a href="{% url 'admin-task-list-allocation-email' 'reader-follow-up' allocation.reference %}" target="email">[email template]</a>
        <a href="{% url 'admin:matchmaker_writerreaderallocation_change' allocation.reference %}" target="admin">[edit WriterReaderAllocation]</a></li>
      {% endfor %}
    </ul>

  <p>Tasks:</p>
  <ul>
    <li>Send the 'reader follow up' email</li>
    <li>Update 'reader_follow_up_email_sent' date for the WriterReaderAllocation</li>
  </ul>

  {% else %}
    <p>Nothing to do here.</p>
  {% endif %}
</section>

<section>
  <h1>Allocations</h1>
  <p>This is a temporary place to access any email for a given WriterReaderAllocation</p>

  {% for allocation in allocations %}
  <h2>{{ allocation.reference }}</h2>

  <p>Writer: <a href="{% url 'admin:matchmaker_writer_change' allocation.writer.uuid %}" target="admin">{{ allocation.writer }}</a></p>
  <p>Reader: <a href="{% url 'admin:matchmaker_reader_change' allocation.reader.uuid %}" target="admin">{{ allocation.reader }}</a></p>
  <table>
    <thead>
      <tr>
        <th>Writer</th>
        <th>Date sent</th>
        <th>Reader</th>
        <th>Date sent</th>
      </tr>
    </thead>

    <tbody>

      <tr>
        <td><a href="{% url 'admin-task-list-allocation-email' 'writer-priming' allocation.reference %}" target="email">[priming]</a></td>
        <td>{{ allocation.writer_priming_email_sent }}</td>
        <td><a href="{% url 'admin-task-list-allocation-email' 'reader-priming' allocation.reference %}" target="email">[priming]</a></td>
        <td>{{ allocation.reader_priming_email_sent }}</td>
      </tr>

      <tr>
        <td><a href="{% url 'admin-task-list-allocation-email' 'writer-follow-up' allocation.reference %}" target="email">[follow up]</a></td>
        <td>{{ allocation.writer_follow_up_email_sent }}</td>
        <td><a href="{% url 'admin-task-list-allocation-email' 'reader-follow-up' allocation.reference %}" target="email">[follow up]</a></td>
        <td>{{ allocation.reader_follow_up_email_sent }}</td>
      </tr>

      <tr>
        <td><a href="{% url 'admin-task-list-allocation-email' 'writer-midway' allocation.reference %}" target="email">[midway]</a></td>
        <td>{{ allocation.writer_midway_email_sent }}</td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td><a href="{% url 'admin-task-list-allocation-email' 'writer-sent-letter-closure' allocation.reference %}" target="email">[sent letter closure]</a></td>
        <td>{{ allocation.writer_sent_letter_closure_email_sent }}</td>
        <td><a href="{% url 'admin-task-list-allocation-email' 'reader-got-letter-closure' allocation.reference %}" target="email">[got letter closure]</a></td>
        <td>{{ allocation.reader_got_letter_closure_email_sent }}</td>
      </tr>

      <tr>
        <td><a href="{% url 'admin-task-list-allocation-email' 'writer-no-sent-letter-closure' allocation.reference %}" target="email">[no sent letter closure]</a></td>
        <td>{{ allocation.writer_no_sent_letter_closure_email_sent }}</td>
        <td><a href="{% url 'admin-task-list-allocation-email' 'reader-no-letter-closure' allocation.reference %}" target="email">[no letter closure]</a></td>
        <td>{{ allocation.reader_no_letter_closure_email_sent }}</td>
      </tr>

    </tbody>
  </table>

  {% endfor %}



</section>


{% endblock %}
