{% extends "base.html" %}

{% block body_inner %}

<section>
  <h1>Letter writer profiles</h1>

  <form class="pick-writer" action="" method="post">{% csrf_token %}

    <fieldset>
      <legend>Choose a shortlist of letter writers</legend>
      {% if reader.prefer_forward_via_co_op == True %}
        <p class="hint">One of the people you choose will then be matched with you and asked to write to you via Co-op.</p>
      {% elif reader.prefer_forward_via_co_op == False %}
        <p class="hint">One of the people you choose will then be matched with you and asked to write to you at the address you gave us.</p>
      {% endif %}

      {% for writer in writers %}
        <label class="block-label">
          <input type="checkbox" value="{{ writer.uuid }}" name="writers">
          <span class="writer-name">
            {{ writer.first_name }}
          </span>,
          <span class="writer-age">
            {{ writer.age }}
          </span>
          <p class="writer-story">
            {{ writer.profile_story }}
          </p>
        </label>
      {% endfor %}

    </fieldset>

    <footer>
      <button type="submit" class="btn btn-primary">I'm done</button>
    </footer>

  </form>

  {% if reader.prefer_forward_via_co_op == True %}
    <p class="privacy-statement">Your letter writer will only see your first name and that you want your letter to be sent to Co-op. They won’t know anything else about your or you situation.</p>
  {% elif reader.prefer_forward_via_co_op == False %}
    <p class="privacy-statement">Your letter writer will only see your first name and your address. They won’t know anything else about your or you situation.</p>
  {% endif %}
</section>

{% endblock %}
