{% extends "base.html" %}

{% block body_inner %}

<section>
  <h1>Who would you like to get a letter from?</h1>

  <form action="" method="post">{% csrf_token %}

    <fieldset>
      <legend>Pick who you'd like to hear from:</legend>

      {% for writer in writers %}
        <label class="block-label">
          <input type="checkbox" value="{{ writer.uuid }}" name="writers">
          <span class="writer-name">
            {{ writer.first_name }}
          </span>,
          <span class="writer-age">
            {{ writer.age }}
          </span>
          <p class="writer-story">
            {{ writer.profile_story }}
          </p>
        </label>
      {% endfor %}

    </fieldset>

    <button type="submit" class="btn btn-primary">Confirm your choice</button>

  </form>

  <p class="privacy-statement">Your letter writers will only see your name — they won’t know anything else about your or your situation.</p>
</section>

{% endblock %}
