<form action="" method="post">{% csrf_token %}

  <fieldset>

    {{ form.non_field_errors }}

      <div class="form-row">
        <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
        <p class="hint">{{ form.first_name.help_text }}</p>
				{{ form.first_name }}
        {{ form.first_name.errors }}
      </div>

      <div class="form-row">
        <label for="{{ form.age.id_for_label }}">{{ form.age.label }}</label>
        <p class="hint">{{ form.age.help_text }}</p>
				{{ form.age }}
        {{ form.age.errors }}
      </div>

      <div class="form-row">
        <label for="{{ form.profile_story.id_for_label }}">{{ form.profile_story.label }}</label>

          <p class="hint">{{ form.private_story.help_text }}</p>

          <div class="writer-profile-preview">
            <p>{{ form.private_story.value }}</p>
            {{ form.private_story }}
          </div>

        <p class="hint">{{ form.profile_story.help_text }}</p>
				{{ form.profile_story }}
        {{ form.profile_story.errors }}
      </div>

    <hr>

    <p>That's it for now. We'll let people that need support choose who writes to them based on their profile. If you're chosen, we'll be in touch by email to help you through the process of writing a letter to&nbsp;them.</p>

    <button type="submit" class="btn btn-primary">Submit profile</button>

  </fieldset>

</form>
