{% extends "info-page.html" %}

{% block body_inner %}

  <h1>Advice for letter writers</h1>
  <p>
    We won’t see these letters - what you write about stays between you and your reader. That means you’re responsible for what you write - we trust you to write an appropriate letter. You have an idea of what the person you write to will be going through - so we know that you will be sensitive and helpful.
  </p>
  <h2>Writing your letter</h2>
  <p>
    It’s up to you whether you include your address - you don’t have to if you don’t want to.
  </p>
  <p>
    There’s no need to be formal. Write the way you’d speak to your letter reader as if they’re sitting in front of you.
  </p>
  <p>
    You can write your letter by hand, or if you prefer, type it and print it off. If you are writing it by hand, it’s a good idea to do a draft version first. A handwritten letter can be more effort to produce, but it’s a treat to receive one. However, if you’re worried about your handwriting, it’s fine to send a typed letter.
  </p>
  <p>
    If you have any questions, email <a href="mailto:letters@coopdigital.co.uk">letters@coopdigital.co.uk </a>
  </p>

  <h2>What to write about</h2>
  <p>
    Start your letter by writing a bit about you - what you do, any family, pets, hobbies or interests. Just enough to give your reader an idea of what you are like.
  </p>
  <p>
    You don’t have to go into a lot of detail, and you don’t have to include anything that could identify you such as names or addresses.
  </p>
  <p>
    Then explain how you got into debt, and how that made you feel.
  </p>
  <p>
    Then, explain how your situation got better, and how that made you feel. Try and include a bit about what’s changed in your life since your debt situation improved.
  </p>

  <p>
    Finally, end your letter with something reassuring, such as:
    <blockquote>
      I hope that hearing my story has made you realise that getting into debt is very common. It’s up to you how you chose to tackle your debt, but don’t forget - you’re not the only person to be in this situation.
    </blockquote>
  </p>

  <h2>Support, advice and guidance</h2>
  <p>
    It’s OK to give support and guidance, but try not to give direct advice. It’s not your responsibility to give advice to someone in debt, and your support and guidance will be really helpful.
  </p>
  <ul>
    <li>Do give support: "You’re not the only person to find themselves in this situation - I know this because it happened to me."</li>
    <li>Do write about your experience: "I went to the Money Advice Service and found it really useful."</li>
    <li>Don’t give advice: "You should consolidate your debts, that worked for me."</li>
  </ul>

  <h2>What not to write about</h2>
  <p>
    Don’t offer to give or lend any money. Your letter should be about giving someone a different perspective on their problems, and helping them realise that they are not alone.
  </p>
  <p>
    Don’t recommend a specific course of action. It’s OK to explain what you did or found helpful, but avoid telling your reader that they should do that too. Doing that could be seen as giving financial advice, which can only be given by professionals.
  </p>
  <p>
    If you give your address, and your reader writes back asking for advice, don’t feel as though it’s your job to help them. Make them aware of these organisations who are the experts:
  </p>
  <ul>
    <li><a href="https://www.moneyadviceservice.org.uk/en" target="_blank">Money Advice Service</a></li>
    <li><a href="https://www.stepchange.org/" target="_blank">Step Change</a></li>
    <li><a href="https://www.citizensadvice.org.uk/">Citizen’s Advice</a></li>
  </ul>
  <p>
    Be honest - don’t exaggerate or downplay your situation. Your true story of what happened to you is the most important thing.
  </p>

{% endblock %}
