{% extends "base.html" %}

{% block body_inner %}

  <section>
  <h1>Your profile</h1>
  <h2>Fill in your public profile so that people who need support can see who is best suited for&nbsp;them</h2>

  <hr>

  <p>The information you provide will appear on a website that anyone can visit. Don’t write anything that could identify you, such as your last name or where you live.</p>

  <p>Make sure you fill in each section as we need all this information to create your profile and find a good match.</p>

  {% include 'matchmaker/writer_form.html' %}

  </section>

{% endblock %}
