{% extends "base.html" %}

{% block body_inner %}

<section>

  <h2>From:</h2><p>Co-op Letters</p>

  <h2>To:</h2><p>[email from {% include 'matchmaker/_writers_google_sheet.html' %} for UUID <code>{{ writer.uuid }}</code>]</p>

  <h2>Subject</h2>
  <p>Last chance to write to someone in debt</p>

  <h2>Message:</h2>

<div class="message">Ctrl-A, Ctrl-C the message below</div>

<div class='email-template' contenteditable="true">
  <p>Dear {{ writer.first_name }},

  <p>We’re going to take you off our list of letter writers in 7 days.</p>

  <p>This is because we don’t want to store people’s information if we don’t need to.</p>

  <p>Still want to be involved? <a href="{{ writer.make_authenticated_training_url }}">Get started here</a></p>

  <p>If you have any questions, reply to this message or email <a href="mailto:letters@coopdigital.co.uk">letters@coopdigital.co.uk</a></p>
</div>

</section>
</pre>

{% endblock %}
